<!-- <div class="hero-unit">
    <div class="ac">
      <p><strong>Specifications</strong>&nbsp;&nbsp;Get the details.</p>
    </div>
  </div> -->

  <div id="explore">

    <hr  style="border:0; margin-top:30px;"/>

    <div class="row">
      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="assets/3.gif" width="200" />
        </p>
      </div>
      <div class="span9">
        <h3>Company Background and Vision</h3>
        <p>
           Teseda Corporation, based in Portland, Oregon, was founded in 2001.  Since its inception, Teseda has gained a reputation in the industry for Value, Quality, Innovation and Support.
        </p>
        <p>
          By utilizing the full potential of scan-based testing and diagnosis, Teseda’s powerful hardware and software tools enable cost-effective solutions which have dramatically improved our customer’s  productivity and profitability.  Teseda has been at the forefront of industry innovation with a staff of highly qualified and skilled personnel.  Our Vision continues to be that of offering customers the maximum benefits in time and money savings with a competitive range of Hardware and Software products.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="span8">
        <h3>The Teseda Technology</h3>
        <p>
          Teseda’s highly integrated, high performance <strong>550 Engineering Test Station</strong> offers comprehensive defect isolation, device stimulus and field triage on your desktop.  Our patented FPGA-based pin/timing IP provides test solutions for up to 512 I/O pins, 7 device power supplies and up to 100MHz pattern rates with 100ps timing accuracy, all in an air-cooled, portable desktop test solution that weighs less than 20 Lbs.
        </p>
        <p>
           Our <strong>Teseda Workbench™</strong> and <strong>Scan workbench™</strong> software products fully support the industry-standard IEEE 1450-1999 Standard Test Interface Language (STIL), providing users the capability of debugging in a fully scan-aware interactive debug environment.  <strong>Our Diagnostic Manager™</strong> product offers vendor-neutral support to combine knowledge of STIL files, EDA diagnosis results, design layout information and tester failures to quickly map logical failures to physical faults.

        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="assets/2.gif" width="240" />
        </p>
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="span8">
        <h3>Our Customers</h3>
        <p>
        <!--   FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1].
        </p> -->
        <p>
         Teseda’s customer base includes most of the leading IDM and Fabless companies, worldwide.  Among these are:  Broadcom, nVidia, Texas Instruments, ST Microelectronics, Toshiba, Maxim, Panasonic, ON Semiconductor, International Rectifier, Boston Scientific, Sony, TSMC, and many more.  The world’s leading semiconductor companies, creating the most advanced SoC designs, have all seen the benefits of using Teseda products.
        </p>
      </div>
      <div class="span4">
        <p>
          <img alt="" rel="tooltip" title="Some title" class="thumbnail fr" src="assets/6.gif" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <!-- <div class="well ac">
      <h3>
        Start right now!
        <a href="plans.html" title="Try it for yourself.">
          Sign up
        </a>&rarr;
      </h3>
    </div> -->
  </div>
