
<p
  style="text-align: center; font-weight: bold; margin-top: -2px"
  class="private-browsing-notice"
  >
  {{privateBrowsingMsg}}
  <br />
  After doing so, tap Reload below.
  <br />
  <br />
  <span
    class="ios-instructions"
    >
    <img
      src="/img/mobile/private-browsing-instructions.jpg"
      alt="Turn Private Browsing Off"
    />
    <br />
    <br />
  </span>
  <a
    class="ui-btn blue shadow fat"
    data-ng-click="refreshPageWithRoute('/')"
    style="margin-bottom:5px; display: block"
    >
    Reload
  </a>
  <span
    class="footnote"
    >
    Note: InfoWrap uses local storage to enhance performance.
    InfoWrap keeps your information private and will not share it with anyone.
  </span>
</p>
