<div class="hero-unit">
    <div class="container">
      <!-- <h1 class="ac">Suite of Products</h1> -->
      <p class="ac">
        <strong>Systems</strong> and <strong>Options</strong>
      </p>
    </div>
  </div>

  <!-- Example pricing -->
  <div class="row pricing">

    <div class="span4">
      <div class="well">
        <h2>550DS</h2>
        <p>Device Stimulus and Test Pattern Debug</p>
        <ul>
          <li>&#10004; 550</li>
          <li>&#10004; Operating system SW</li>
          <li>&#10004; DDM2</li>
          <li>&#10004; Options such as PMO, Curve Tracer, IDDQ, etc.</li>
          <!-- <li>&#10006; Options such as PMO, Curve Tracer, IDDQ, etc.</li> -->
        </ul>
        <h3 class="ac">$499.99</h3>
        <hr />
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy Now &raquo;</a>
        </p> -->
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>550DI</h2>
        <p>Defect Isolation</p>
        <!-- <p><span>POPULAR</span></p> -->
        <ul>
          <li>&#10004; 550</li>
          <li>&#10004; Operating system SW</li>
          <li>&#10004; DDM2</li>
          <li>&#10004; Defect Isolator (new name for current DM)</li>
          <li>&#10004; Broken Chain Analyzer</li>
          <li>&#10004; Viewer</li>
          <li>&#10004; PMO</li>
          <li>&#10004; Options such as Curve Tracer, IDDQ, etc.</li>
        </ul>
        <h3 class="ac">$899.99</h3>
        <hr />
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy Now &raquo;</a>
        </p> -->
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>550FT</h2>
        <p>Field Triage</p>
        <ul>
          <li>&#10004; 550</li>
          <li>&#10004; Operating system SW</li>
          <li>&#10004; DDM2</li>
          <li>&#10004; PMO</li>
          <li>&#10004; Curve Tracer</li>
          <li>&#10004; Options such as Defect Isolator, BCA, etc.</li>
        </ul>
        <h3 class="ac">$699.99</h3>
        <hr />
        <p class="ac">
          <a class="" href="/products/550FT">Learn more &raquo;</a>
        </p>
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy Now &raquo;</a>
        </p> -->
      </div>
    </div>
  </div>

  <!-- <div class="hero-unit">
    <div class="container">
      <p class="ac">
        <strong>Software tools</strong>&nbsp;&nbsp;<span style="font-style:italic;">stand alone, no hardware required</span>
      </p>
    </div>
  </div> -->

  <!-- Example pricing -->
  <div class="row pricing">

    <div class="span4">
      <div class="well">
        <h2>Scan Workbench</h2>

        <ul>
          <li>&#10004; Curve Tracer</li>
        </ul>
        <h3 class="ac">$99.99</h3>
        <hr />
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy Now &raquo;</a>
        </p> -->
      </div>
    </div>
        <div class="span4"><!--most-popular-->
      <div class="well">
        <h2>Diagnostic Manager</h2>
        <!-- <p><span>POPULAR</span></p> -->
        <ul>
          <li>&#10004; Defect Isolator</li>
        </ul>
        <h3 class="ac">$199.99</h3>
        <hr />
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy Now &raquo;</a>
        </p> -->
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Curve Tracer</h2>
        <h3 class="ac">$49.99</h3>
        <hr />
        <!-- <p class="ac">
          <a class="btn btn-success btn-large" href="#">Buy now &raquo;</a>
        </p> -->
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span12">
      <!-- <h1 class="lead">
        <b>All products come with a 90-day</b> money-back guarantee.
      </h1> -->
    </div>
  </div>
