<div class="row">
  <div class="span4">
    <img class="img-circle" src="http://placehold.it/140x140">

    <h2>Take Control </h2>

    <p>Years of social media use can result in a large amounts of unintended exposure that can be connected to find out who you are, what you are doing and where you are doing it.  SXProximity is the tool you need to protect your family from becoming a target of cyber-bullies, stalkers, and identity thieves. </p>

    <p><a class="btn" ng-click="changeRoute('/about')">Learn more &raquo;</a></p>
  </div>
  <div class="span4">
    <img class="img-circle" src="http://placehold.it/140x140">

    <h2>Take Control </h2>

    <p>Years of social media use can result in a large amounts of unintended exposure that can be connected to find out who you are, what you are doing and where you are doing it.  SXProximity is the tool you need to protect your family from becoming a target of cyber-bullies, stalkers, and identity thieves. </p>

    <p><a class="btn" ng-click="changeRoute('/about')">Learn more &raquo;</a></p>
  </div>
  <div class="span4">
    <img class="img-circle" src="http://placehold.it/140x140">

    <h2>Take Control </h2>

    <p>Years of social media use can result in a large amounts of unintended exposure that can be connected to find out who you are, what you are doing and where you are doing it.  SXProximity is the tool you need to protect your family from becoming a target of cyber-bullies, stalkers, and identity thieves. </p>


  </div>
</div>
