<div class="hero-unit">
    <div class="ac">
      <span>Team</span>
    </div>
  </div>

  <div id="team-members">

    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="img/member.jpg" />
      </div>
      <p class="member-networks">
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-linkedin"></a>
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-google-plus"></a>
        <a href="tel:5032233315" class="icon-phone"></a>
        <a href="mailto:greg_van_ess@teseda.com" class="icon-envelope"></a>
      </p>
      <h3 class="member-name">Armagan Akar</h3>
      <h4 class="member-position">President and CEO</h4>
      <p class="member-bio">
        Armagan Akar joined Teseda as President and CEO in June 2005.  Armagan has more than two decades of experience in the design, test and diagnostic field with previous executive positions at LogicVision, Mentor Graphics, and Schlumberger.  Mr. Akar’s international sales experience, industry contacts, and engineering background contribute to his strong leadership of Teseda.  Mr. Akar has been instrumental in transforming the company into a reputable test-for-yield products and solutions entity.  Mr. Akar received a BSEE from the University of Hull, an MSEE from the Middle East Technical University. Mr. Akar completed MBA studies at the Academy of Economic and Commercial Sciences of Ankara, and post graduate studies in Electrical Engineering at the University of Dundee.
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="img/member.jpg" />
      </div>
      <p class="member-networks">
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-linkedin"></a>
        <a href="#" class="icon-github"></a>
        <a href="#" class="icon-pinterest"></a>
      </p>
      <h3 class="member-name">Susan Kuhnle, CPA</h3>
      <h4 class="member-position">Vice President of Finance</h4>
      <p class="member-bio">
        Susan Kuhnle joined Teseda in 2005 to handle the Accounting functions of the company.  Susan has since become responsible for all Financial aspects of the company.  Ms. Kuhnle brings more than thirty years of knowledge and experience to Teseda, having previously been a partner in a local CPA firm.  Ms. Kuhule has also held Controller positions in regional construction and manufacturing firms.  Ms. Kuhnle has a Bachelor’s Degree from Portland State University.
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="img/member.jpg" />
      </div>
      <p class="member-networks">
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-phone"></a>
        <a href="#" class="icon-envelope"></a>
      </p>
      <h3 class="member-name">Greg Van Ess</h3>
      <h4 class="member-position">Sr. Vice President of Sales and Marketing</h4>
      <p class="member-bio">
        Greg Van Ess joined Teseda in 2012 as Sr. Vice-President of Sales and Marketing.  In this position, Greg is responsible for sales and Marketing of Teseda’s unique hardware and software solutions for defect isolation, screening of device field returns, and device stimulus for failure analysis and test pattern debug.  Mr. Van Ess has over twenty-five years of experience in general management of mid to large size field organizations in Asia and America, and has worked for some of the leading worldwide semiconductor and global technology companies.  His business development and sales strategies are a tremendous asset for doing business in the American, European and Asian markets.  Mr. Van Ess received a Bachelor of Science in Electrical Engineering from Clarkson University, Potsdam, New York.  In addition, he completed the Berkeley Executive Education Competitive Marketing strategies:  High-Tech Products from the University of California, Berkeley.
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="img/member.jpg" />
      </div>
      <p class="member-networks">
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-phone"></a>
        <a href="#" class="icon-envelope"></a>
      </p>
      <h3 class="member-name">Ralph Sanchez</h3>
      <h4 class="member-position">Vice President of Applications and Development</h4>
      <p class="member-bio">
        Ralph Sanchez joined Teseda in May 2004 as Vice-President of Applications and Development.  Prior to joining Teseda, Mr. Sanchez has held several positions in DFT Technical Applications, Project Engineering and Consulting while working in EDA companies, Mentor Graphics, Magma Design Automation, Verplex Systems (now Cadence).  Mr. Sanchez has also held several DFT Technologist and Senior Engineering Management roles at Hughes Aircraft Company.  Mr. Sanchez has over thirty-plus years of experience in the areas of Design-For-Test, and Integrated Circuit Design and Test.  He is a Graduate of Loyola Marymount University, Los Angeles, CA., with an MSEE.
      </p>
    </article>

    </div>

  </div>
