<div class="hero-unit">
    <div class="ac">
      <span>Client <strong>support</strong></span>
    </div>
  </div>


<div class="well">
<tabset>
    <tab heading="Login">
        <div class="tab-pane" data-ng-controller="LoginCtrl">
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label"  for="username">Email/Username</label>
                  <div class="controls">
                    <input type="text" id="username" placeholder="Email" class="input-xlarge">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                    <input type="password" id="password" placeholder="Password" class="input-xlarge">
                  </div>
                </div>


                <div class="control-group">
                  <div class="controls">
                    <button class="btn btn-success">Login</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

    </tab>

    <tab heading="Create Account">
      <div class="tab-pane" data-ng-controller="AccountCreateCtrl">
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label"  for="create-name">Name</label>
                  <div class="controls">
                    <input type="text" id="create-name" placeholder="Name" class="input-xlarge">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label"  for="create-company">Company</label>
                  <div class="controls">
                    <input type="text" id="create-company" placeholder="Company name" class="input-xlarge">
                  </div>
                </div>

                <hr/>
                <div class="control-group">
                  <label class="control-label"  for="create-username">Email/Username</label>
                  <div class="controls">
                    <input type="text" id="create-username" placeholder="Email" class="input-xlarge">
                  </div>
                </div>

                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="create-password">Password</label>
                  <div class="controls">
                    <input type="password" id="create-password" name="password" placeholder="Password" class="input-xlarge">
                  </div>
                </div>

                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="create-confirm">Confirm Password</label>
                  <div class="controls">
                    <input type="password" id="create-confirm" name="password" placeholder="Confirm password" class="input-xlarge">
                  </div>
                </div>


                <div class="control-group">
                  <div class="controls">
                    <button class="btn btn-primary">Create Account</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
    </tab>
  </tabset>
</div>



