
@font-face {
  font-family: "teseda";
  src: url("../fonts/teseda.eot");
  src: url("../fonts/teseda.eot?#iefix") format("eot"),
       url("../fonts/teseda.svg") format("svg"),
       url("../fonts/teseda.woff") format("woff"),
       url("../fonts/teseda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon] {
  #font #teseda .regular;

  &[data-icon="bookmark"]:before       { content: "T"; }
  &[data-icon="bookmarks"]:before      { content: "T"; }
  &[data-icon="broadcast"]:before      { content: "V"; }
  &[data-icon="close"]:before          { content: "I"; }
  &[data-icon="connect"]:before        { content: "J"; }
  &[data-icon="connections"]:before    { content: "J"; }
  &[data-icon="contact-info"]:before   { content: "C"; }
  &[data-icon="delete"]:before         { content: "i"; }
  &[data-icon="download"]:before       { content: "z"; }
  &[data-icon="edit"]:before           { content: "v"; }
  &[data-icon="email"]:before          { content: "A"; }
  &[data-icon="facebook"]:before       { content: "a"; }
  &[data-icon="files"]:before          { content: "D"; }
  &[data-icon="file"]:before           { content: "j"; }
  &[data-icon="folder"]:before         { content: "h"; }
  &[data-icon="gallery"]:before        { content: "r"; }
  &[data-icon="google"]:before         { content: "c"; }
  &[data-icon="grip-leftbar"]:before   { content: "E"; -webkit-font-smoothing: none; }
  &[data-icon="grip-rightbar"]:before  { content: "U"; }
  &[data-icon="linkedin"]:before       { content: "e"; }
  &[data-icon="lock"]:before           { content: "l"; }
  &[data-icon="map"]:before            { content: "o"; }
  &[data-icon="messages"]:before       { content: "A"; }
  &[data-icon="nearby"]:before         { content: "S"; }
  &[data-icon="new"]:before            { content: "G"; -webkit-font-smoothing: none; }
  &[data-icon="next"]:before           { content: "3"; }
  &[data-icon="note"]:before           { content: "n"; }
  &[data-icon="notifications"]:before  { content: "Z"; }
  &[data-icon="photo"]:before          { content: "q"; }
  &[data-icon="photos"]:before         { content: "r"; }
  &[data-icon="prev"]:before           { content: "1"; }
  &[data-icon="requests"]:before       { content: "w"; }
  &[data-icon="search"]:before         { content: "P"; }
  &[data-icon="settings"]:before       { content: "X"; }
  &[data-icon="share"]:before          { content: "Q"; }
  &[data-icon="switch"]:before         { content: "s"; -webkit-font-smoothing: subpixel-antialiased; }
  &[data-icon="twitter"]:before        { content: "k"; }
  &[data-icon="unlock"]:before         { content: "m"; }
  &[data-icon="upload"]:before         { content: "Y"; }
  &[data-icon="wrap"]:before           { content: "x"; }
  &[data-icon="wraps"]:before          { content: "y"; -webkit-font-smoothing: none; }
}
